Payment Feature Description

Payment’s model has these attributes:
● id: String
● method: String to save a sub-feature name.
● status: String
● paymentData: Map<String, String> to save payment sub-feature data.

Payment’s service has these functions:
● public Payment addPayment(Order order, String method, Map<String, String>
paymentData)
This method will create a new payment object for the current order. This method will also
automatically save the new payment object to PaymentRepository.
● public Payment setStatus(Payment payment, String status)
This method will set status for the current payment.
a. If the payment status is set to “SUCCESS”, then the status of the Order object that is
related to the Payment object will also be “SUCCESS”.
b. If the payment status is set to “REJECTED”, then the status of the Order object that is
related to the Payment object will be “FAILED”.
● public Payment getPayment(String paymentId)
This method will get the Payment object by its paymentId.
● public Payment getAllPayments()
This method will return all Payment objects.
Payment by Voucher Code Sub-feature Descrip